* {
  font-family: Fira Mono, monospace;
  font-size: 16px;
}

code {
  color: #333;
  font-family: monospace;
  background-color: #eee;
}

pre {
  padding: 0 0 0 1em;
  font-family: monospace;
  margin: 3em 0;
  overflow: scroll;
}

section {
  max-width: 600px;
}

.markdown h1:before,
.markdown h2:before,
.markdown h3:before,
.markdown h4:before,
.markdown h5:before,
.markdown h6:before {
  content: '# ';
  display: inline;
  font-weight: bold;
}

.markdown h2:before {
  content: '## ';
}

.markdown h3:before {
  content: '### ';
}
.markdown h4:before {
  content: '#### ';
}
.markdown h5:before {
  content: '##### ';
}
.markdown h6:before {
  content: '###### ';
}
