<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="apple-mobile-web-app-capable"
            content="yes">
      <meta name="viewport"
            content="width=device-width, initial-scale=1">
      <meta name="description"
            content="">
      <meta name="author"
            content="">
      <link href="https://fonts.googleapis.com/css?family=Fira+Mono"
            rel="stylesheet">
      <link href="{{ config.base_url }}/site.css"
            rel="stylesheet">

      <title>Austin Tindle | {{ section.title }}</title>
</head>

<body id="home">
      <section>
            {{ section.content | safe }}
      </section>
</body>

</html>