{% extends "base.html" %} {% block title %}{{ page.title }}{% endblock title %}
{% block content %}
<body id="blog">
  <div>
    <a href="{{ config.base_url }}/blog">&#060;--</a>
    <p>&nbsp;</p>
  </div>
  <section class="markdown">
    <p>&nbsp;</p>

    <p>{{ page.date }}</p>
    <h1>{{ page.title }}</h1>
    {{ page.content | safe }}

    <p>&nbsp;</p>

    <form
      action="https://buttondown.email/api/emails/embed-subscribe/tndl"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/tndl', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <p>Subscribe for updates</p>
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="you@email.com"
      />
      <input type="submit" value="Subscribe" />
    </form>
    <p>&nbsp;</p>
  </section>
</body>
{% endblock content%}
