<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="apple-mobile-web-app-capable"
            content="yes">
      <meta name="viewport"
            content="width=device-width, initial-scale=1">
      <meta name="author"
            content="Austin Tindle">
      <link href="https://fonts.googleapis.com/css?family=Fira+Mono"
            rel="stylesheet">
      <link href="{{ config.base_url }}/site.css"
            rel="stylesheet">

      <title>Austin Tindle | {{ page.title }}</title>
</head>

<body id="blog">
      <div>
            <a href="{{ config.base_url }}/blog">&#060;--</a>
            <p>&nbsp;</p>
      </div>
      <section class="markdown">
            <p>{{ page.date }}</p>
            <h1>{{ page.title }}</h1>
            {{ page.content | safe }}
      </section>
</body>

</html>