{% extends "base.html" %} {% block title %}{{ section.title }}{% endblock title
%} {% block content %}
<body id="section">
  <section>
    <h1><a href="{{ config.base_url }}">Austin Tindle</a></h1>
    <p>---</p>
    {{ section.content | safe }}
    <p>&nbsp;</p>
    <p>
      <strong>
        <a href="https://tndl.substack.com/">Subscribe to emails</a>
      </strong>
      <a href="{{ config.base_url }}/rss.xml">(or RSS)</a>.
    </p>
  </section>

  <p>&nbsp;</p>
  <section>
    {% for page in section.pages %}
    <article>
      <span>
        <h3>
          <a href="{{ page.permalink }}"> {{ page.title }}</a>
          <span style="font-weight: 300">({{ page.date }})</span>
        </h3>
      </span>
    </article>
    {% endfor %} {% for sub in section.subsections %} {% set section =
    get_section(path=sub) %} {% for page in section.pages %}
    <article>
      <h3>
        <a href="{{ page.permalink }}"> {{ page.title }}</a>
        <span style="font-weight: 300">({{ page.date }})</span>
      </h3>
    </article>
    {% endfor %} {% endfor %}
  </section>
</body>
{% endblock content %}
